---
import Layout from "../layouts/Layout.astro";
import { Image, Picture } from '@astrojs/image/components';
---

<Layout title="Welcome to Astro.">
  <div>
		<Image src="./images/leo.jpg" width={400} height={500} alt="Leo" />
	</div>
</Layout>

<style></style>
